<head>
		<title> <%= current_user.username.capitalize %>'s Profile | Renter.com</title>
</head>

<% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>

<style type="text/css">
  .alert-success{
    color: green;
  }
  .alert-danger{
    color: red;
  }
</style>

<% if current_user.username %>
	<h1><%= current_user.username.capitalize %>'s Profile</h1>
<% else %>
	<p><%= link_to 'Create a Username', username_path %></p>
<% end %>
<h2> Email: <%= current_user.email %></h2>

<% if current_user.balance == 0 %>
	<p><%= link_to 'Add Balance', add_balance_path %></p>
<% else %>
	<h2> Balance: $<%= number_with_precision(current_user.balance, :precision => 2) %></h2>
	<p><%= link_to 'Add Balance', add_balance_path %></p>
<% end %>

<p><%= link_to 'Create a new product', product_new_path %></p>

<h2> Products: <br> </h2>

<div id = "products">
<%if @products %>
    <% @products.each do |prod| %>
      <div class = "prod">
       <h3><%=prod[:name]%> <br> </h3>
       <p>Price: $<%=number_with_precision(prod[:price], :precision => 2)%>/week</p>
       <br>
	     <%= image_tag prod.img %> <br/>
       <p>Available?: <%= prod.available %> <br/></p>
       <% if Transaction.find_by_product_id(prod.id) %>
          <p><%= User.find(Transaction.find_by_product_id(prod.id).renter_id).email %></p>
       <% end %>
       <br>
       </div>
    <%end%>
<% end %>
</div>

<h3> Transactions: </h3>

<div id = "products">
<%if @transactions %>
    <% @transactions.each do |prod| %>
      <div class = "prod">
	  	<% if prod.status == false %>
      		<h3><%=Product.find_by(id: prod[:product_id])[:name]%> </h3>
			    <%= image_tag Product.find_by(id: prod[:product_id])[:img] %><br>
      		<p> Available?: <%= Product.find_by(id: prod[:product_id])[:available] %> </p><br>
			    <p> Return Date: <%= prod[:duration] %>
	  		  <%= button_to 'Return', return_product_path(:product => Product.find_by(id: prod[:product_id]).id), method: :post %>
        </p>
		  <% end %>
      </div>
	 <% end %>
<% end %>
</div>
