<h1>Profile</h1>
<h3> Username: <%= current_user.username.capitalize %></h3>
<h3> Email: <%= current_user.email %></h3>
<h3> Balance: <%= current_user.balance %></h3>
<h3> Products: <br>
  <% if @products.kind_of?(Array) %>
    <% @products.each do |prod| %>
      Name: <%=prod[:name]%>
      Price: <%=prod[:price]%>
      <%end%>
  <%else%>
      Name: <%=@products[:name]%> <br>
      Price: <%=@products[:price]%>
<%end%> </h3>

<h3> Transactions: <br>
  <% if @transactions.kind_of?(Array) %>
    <% @transactions.each do |prod| %>
      Name: <%=Product.find_by(id: prod[:product_id])[:name]%>
      Price: <%=Product.find_by(id: prod[:product_id])[:price]%>
      Current?: <%=Product.find_by(id: prod[:product_id])[:status]%>
      <%end%>
  <%elif @transactions%>
      Name: <%=Product.find_by(id: @transactions[:product_id])[:name]%> <br>
      Price: <%=Product.find_by(id: @transactions[:product_id])[:price]%>
<%end%> </h3>


<p><%= link_to 'Go Home', home_path %></p>
<p><%= link_to 'Create a new product', product_new_path %></p>
