<h1>Profile</h1>

<% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>

<style type="text/css">
  .alert-success{
    color: green;
  }
  .alert-danger{
    color: red;
  }
</style>

<% if current_user.username %>
	<h3> Username: <%= current_user.username.capitalize %></h3>
<% else %>
	<p><%= link_to 'Create a Username', username_path %></p>
<% end %>
<h3> Email: <%= current_user.email %></h3>

<% if current_user.balance == 0 %>
	<p><%= link_to 'Add Balance', add_balance_path %></p>
<% else %>
	<h3> Balance: $<%= number_with_precision(current_user.balance, :precision => 2) %></h3>
	<p><%= link_to 'Add Balance', add_balance_path %></p>
<% end %>
<hr>
<h3> Products: <br> </h3>
<%if @products %>
    <% @products.each do |prod| %>
       Name: <%=prod[:name]%> <br>
       Price: $<%=number_with_precision(prod[:price], :precision => 2)%>/week
       <br>
	     <%= image_tag prod.img %> <br/>
       Available?: <%= prod.available %> <br/>
       <br>
    <%end%>
<% end %>
<hr>

<h3> Transactions: </h3>
<%if @transactions %>
    <% @transactions.each do |prod| %>
	  	<% if prod.status == false %>
      		Name: <%=Product.find_by(id: prod[:product_id])[:name]%>
			    <%= image_tag Product.find_by(id: prod[:product_id])[:img] %><br>
      		Available?: <%= Product.find_by(id: prod[:product_id])[:available] %> <br>
			    Return Date: <%= prod[:duration] %>
	  		  <%= button_to 'Return', return_product_path(:product => Product.find_by(id: prod[:product_id]).id), method: :post %>
		  <% end %>
	 <% end %>
<% end %>

<p><%= link_to 'Go Home', home_path %></p>
<p><%= link_to 'Create a new product', product_new_path %></p>
