<head>
		<title>Home | Renter.com</title>
</head>

<% if user_signed_in? %>
<div id = "products">
	<% @products.each do |product| %>
		<% if product.available and current_user.id != Integer(product.owner_id) %>
			<div class = "prod">
			<h2><%= product.name %></h2>
			<p><%= product.description %></p>
			<br/>
			<%= image_tag product.img %> <br/>
			<p> Price: $<%= product.price %></p> <br/>
			<%= link_to "Product Details", product_path(:id => product.id) %>
			</div>
		<% end %>
	<% end %>
</div>

<% else %>
	<%= link_to "Sign in", users_path %><br />
<% end %>
<hr>
