<h1>Home Page</h1>

<% if user_signed_in? %>
	<td><%= link_to "Profile", users_path %></td><br>
	<br>
	<%= link_to "Log out", destroy_user_session_path, :method => :delete %><br />
	
<% else %>
	<%= link_to "Sign in", users_path %><br />
<% end %>
<hr>
<% if @products %>
	<% @products.each do |product| %>
		<p><b>Name: <%= product.name %></b></p>
		<p>Desciption: <%= product.description %></p>
		<p>Price: $<%= product.price %></p>
		<p><%= link_to "Product Details", product_path %></p>
		<hr>
	<% end %>
<% end %>