<h1>Home Page</h1>

<% if user_signed_in? %>
	<td><%= link_to "Profile", users_path %></td><br>
	<br>
	<%= link_to "Log out", destroy_user_session_path, :method => :delete %><br />

	<% @products.each do |product| %>
		<% if product.available %>

			<%= product.name %> <br/>
			<%= product.description %> <br/>
			<%= product.owner_id %> <br/>
			<%= product.price %> <br/>
			
		<% end %>
	<% end %>

<% else %>
	<%= link_to "Sign in", users_path %><br />
<% end %>
<hr>
