<head>
		<title>Home</title>
</head>

<h1>Home Page</h1>

<% if user_signed_in? %>
	<td><%= link_to "Profile", users_path %></td><br>
	<br>
	<%= link_to "Log out", destroy_user_session_path, :method => :delete %>

	<% @products.each do |product| %>
		<% if product.available and current_user.id != Integer(product.owner_id) %>
			<hr>
			<b><%= product.name %></b> <br/>
			<%= product.description %> <br/>
			<br>
			<% if product.img %>
			<%= image_tag product.img %> <br/>
			<% end %>
			Price: $<%= product.price %> <br/>
			<%= link_to "Product Details", product_path(:id => product.id) %>

		<% end %>
	<% end %>

<% else %>
	<%= link_to "Sign in", users_path %><br />
<% end %>
<hr>
