<head>
		<title><%= @product.name %> | Renter.com</title>
</head>

<h1> Product Details </h1>
<h2><%= @product.name %></h2>
<p><%= @product.description %></p>
<p>Owner: <%= @user.username %></p>
<p>Price per day: $<%= number_with_precision(@product.price, :precision => 2) %> </p>

<%= form_tag(transaction_path, :method => :get) %>
    <%= hidden_field_tag(:product, @product.id) %>
    Select a return date:
    <%= date_field :duration, params[:duration] %> <br>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>

    <style type="text/css">
      .alert-danger{
        color: red;
      }
    </style>
	<%= submit_tag "Purchase" %>

<h2> Reviews: </h2>
<% if !@review.nil? %>
    <% if @review.kind_of?(Array) %>
        <% @review.each do |rev| %>
            <p> Rating: <%= rev.rating %> </p>
            <p> Comment: <%= rev.comment %> </p>
        <% end %>
    <% else %>
        <p> Rating: <%= @review.rating %> </p>
        <p> Comment: <%= @review.comment %> </p>
    <% end %>
<% else %>
    <p> No reviews </p>
<% end %>

<td><%= link_to 'Go Home', home_path %></td><br>
<td><%= link_to "Write a Review", review_path %></td><br>
