<h1> Product Details </h1>
<h2><%= @product.name %></h2>
<p><%= @product.description %></p>
<p>Owner: <%= @product.owner_id %></p>
<p>Price: $<%= number_with_precision(@product.price, :precision => 2) %> </p>

<p><%= link_to 'Go Home', home_path %></p>
<td><%= link_to "Write a Review", review_path %></td><br>
<td><%= link_to "Purchase", transaction_path %></td><br>
